<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Gestão de Pessoas :: Login</title>
<div th:replace="header :: headerBlock"></div>
</head>
<body>
	<div class="container">
		<br>
		<div class="row">
			<div class="col-sm-3 py-2"></div>
			<div class="col-sm-5 py-2">
				<h2>Reset Senha :: Login</h2>
				<div class="card bg-info text-white h-200">
					<div class="card-body">
						<div th:text="${mensagem}" th:if="${mensagem != null}" class="alert-danger"></div>
						<form method="post" action="/resetSenha" th:object="${usuario}">
							<input name="login" class="form-control" placeholder="Login" />
							<button class="btn btn-primary btn-block">Enviar</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>